      
        <div class="row">
            <div class="col-md-3">
                <div>
                    <a href="#" class="list-group-item active searchCategory">Tecnologia</a>
                    <ul class="list-group">

                        <li class="list-group-item searchDescProd" data-origen="subcategory">ACER</li>
                        <li class="list-group-item">Ryzen</li>
                        <li class="list-group-item">Samsung</li>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success searchCategory">Celulares</a>
                    <ul class="list-group">

                        <li class="list-group-item">Xiaomi</li>
                        <li class="list-group-item">iPhone</li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active searchCategory">Accesorios</a>
                    <ul class="list-group">
                        <li class="list-group-item">Montblanc</li>
                        <li class="list-group-item">Pandora</li>
                    </ul>
                </div>
                <!-- /.div -->

                 <div>
                    <a href="#" class="list-group-item active list-group-item-success searchCategory">Relojes</a>
                    <ul class="list-group">

                        <li class="list-group-item">Rolex</li>
                        <li class="list-group-item">Invicta</li>
                        <li class="list-group-item">Casio</li>

                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active searchCategory">Electrodomesticos</a>
                    <ul class="list-group">
                        <li class="list-group-item">Neveras HACEB</li>
                        <li class="list-group-item">Televisores LG</li>
                        <li class="list-group-item">Whirlpool</li>
                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success searchCategory">Mascotas</a>
                    <ul class="list-group">

                        <li class="list-group-item">Pedigree</li>
                        <li class="list-group-item">Dog Chow</li>
                    </ul>
                </div>
                <!-- /.div -->

                <div>
                    <a href="#" class="list-group-item active searchCategory">Deportes</a>
                    <ul class="list-group">
                        <li class="list-group-item">Adidas</li>
                        <li class="list-group-item">Reebook</li>
                        <li class="list-group-item">NIKE</li>
                    </ul>
                </div>

                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active list-group-item-success searchCategory">Cosmeticos</a>
                    <ul class="list-group">

                        <li class="list-group-item">Natura</li>
                        <li class="list-group-item">AVON</li>
                        <li class="list-group-item">ESIKA</li>

                    </ul>
                </div>
                <!-- /.div -->
                <div>
                    <a href="#" class="list-group-item active searchCategory">Hogar</a>
                    <ul class="list-group">
                        <li class="list-group-item">P&G</li>
                        <li class="list-group-item">CORONA</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success"><a href="#">New Offer's Coming </a></li>
                        <li class="list-group-item list-group-item-info"><a href="#">New Products Added</a></li>
                        <li class="list-group-item list-group-item-warning"><a href="#">Ending Soon Offers</a></li>
                        <li class="list-group-item list-group-item-danger"><a href="#">Just Ended Offers</a></li>
                    </ul>
                </div>
                <!-- /.div -->
                <div class="well well-lg offer-box offer-colors">


                    <span class="glyphicon glyphicon-star-empty"></span>25 % off  , GRAB IT                 
              
                   <br />
                    <br />
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width: 70%">
                            <span class="sr-only">70% Complete (success)</span>
                            2hr 35 mins left
                        </div>
                    </div>
                    <a href="#">click here to know more </a>
                </div>
                <!-- /.div -->
            </div>
            <!-- /.col -->
 